server {
	listen	   80;
	listen	   [::]:80;

	server_name {{ server_name }};

	add_header X-UA-Compatible "IE=Edge,chrome=1";
	add_header X-Content-Type-Options nosniff;
	add_header X-XSS-Protection "1; mode=block";

	charset utf-8;
	try_files $uri @icons;
	error_page 502 504 /502.html;

	location ~ ^/502\.html$|^/logo\.png$|^/robots\.txt$ {
		root {{ APP_DIR }};
	}

	location @icons {
		root {{ APP_DIR }}/resources/icons;
		error_page 403 = @gunicorn;
		error_page 404 = @gunicorn;
	}

	location @gunicorn {
		include proxy_params;
		proxy_pass http://unix:/tmp/dmoj_site.sock;
	}

	location /static {
		gzip_static on;
		expires max;
		root {{ APP_DIR }};
	}

	location /event/ {
		proxy_pass http://127.0.0.1:15100/;
		proxy_http_version 1.1;
		proxy_set_header Upgrade $http_upgrade;
		proxy_set_header Connection "upgrade";
		proxy_read_timeout 86400;
	}

	location /channels/ {
		proxy_read_timeout 120;
		proxy_pass http://127.0.0.1:15102;
	}

	location /docs/ {
		proxy_pass http://127.0.0.1:9292;
	}
}
